@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #eee;
  margin: 0;
}

#root {
  height: 100vh;
  background-image: url("./assets/images/background.webp");
  background-size: cover;
  background-position: top;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  align-content: start;
  padding: 1rem;
}
